<template name="supportersRank">
  <ul style="margin-top: 1.2em;" class="collection">

<!--  -->
    <li class="collection-item avatar">
      <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img">
      <p style="font-size: 1rem; position: absolute; top: 20px;" class="section left-align">
	      <a href="#">USER_NAME</a> loved <a href="#">15642</a> people's meals & feelings
      </p>
      <a href="#!" class="secondary-content"><i style="color: #CCC246; font-size: 2rem; margin-top: 0.5em;" class="medium zmdi zmdi-star-circle right"></i></a>
    </li>

<!--  -->
    <li class="collection-item avatar">
      <img src="https://www.seoclerk.com/pics/240109-1uE9Qn1405591899.png" alt="" class="circle responsive-img">
      <p style="font-size: 1rem; position: absolute; top: 20px;" class="section left-align">
        <a href="#">USER_NAME</a> loved <a href="#">15642</a> people's meals & feelings
      </p>
      <a href="#!" class="secondary-content"><i style="color: #ABBBE2; font-size: 2rem; margin-top: 0.5em;" class="medium zmdi zmdi-star-circle right"></i></a>
    </li>

<!--  -->
    <li class="collection-item avatar">
      <img src="https://pbs.twimg.com/profile_images/516786942961135616/VrHY9rqX_400x400.png" alt="" class="circle responsive-img">
      <p style="font-size: 1rem; position: absolute; top: 20px;" class="section left-align">
        <a href="#">USER_NAME</a> loved <a href="#">15642</a> people's meals & feelings
      </p>
      <a href="#!" class="secondary-content"><i style="color: #A38135; font-size: 2rem; margin-top: 0.5em;" class="medium zmdi zmdi-star-circle right"></i></a>
    </li>


  </ul>
</template>
