<template name="dayRank">
	<div class="row">
		<div class="col s12">
			<ul class="tabs tabs-rank z-depth-1">
				<li class="tab col s6"><a class="active" href="#mealsRank">Meals</a></li>
				<li class="tab col s6"><a href="#feelingsRank">Feelings</a></li>
				<!-- <li class="tab col s6"><a href="#supportersRank">Supporters</a></li> -->
			</ul>
		</div>

		<div id="mealsRank" class="col s12">{{> mealsRank }}</div>
		<div id="feelingsRank" class="col s12">{{> feelingsRank }}</div>
		<!-- <div id="supportersRank" class="col s12">{{> supportersRank }}</div> -->
	</div>
</template>
