body {
    background-color: #eceaea;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none!important;
}
p {
    font-size: 1.1em;
    margin: 0;
    line-height: 2em;
    text-align: left;
}
* {
    border-radius: 0!important;
    font-family: 'Proxima Nova Alt', proxima-nova, 'Proxima Nova', sans-serif;
    outline: 0!important;
    font-weight: 600;
}
.dent p {
    text-align: left;
}
.spaceing {
    letter-spacing: .03em;
}
.underline {
    text-decoration: underline;
}
.cent {
    width: 30.5em;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.cent p {
    text-align: left;
}
.dent {
    max-width: 30.5em;
    height: 35%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.dent-main {
    max-width: 30.5em;
    height: 20%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.cent-problem-page {
    width: 30.5em;
    height: 85%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.cent-problem-page h3 {
    font-size: 1.2em;
    letter-spacing: .03em;
    line-height: 1.5em;
    padding: 0;
    margin: .3em 0;
}
.button-align {
    max-width: 30em;
    width: 90%;
    display: inline-block;
}
.problem-item {
    max-width: 10em;
}
.magictime {
    -webkit-animation-duration: .25s;
    -moz-animation-duration: .25s;
    -o-animation-duration: .25s;
    animation-duration: .25s;
}
.hidden {
    display: none;
}
.back-btn {
    margin: 3em 0;
    background-color: #eceaea;
}
.cent .back-btn {
    margin: 2em 0;
    background-color: #eceaea;
}
.btn-primary, .btn-success {
    text-shadow: 0 -.05em 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.7em rgba(0, 0, 0, .35);
}
.btn-sample {
    color: #FFF;
    background-color: #ff2f29;
    text-shadow: 0 -.05em 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.7em rgba(0, 0, 0, .35);
}
.btn-sample.active, .btn-sample:active, .btn-sample:focus, .btn-sample:hover, .open .dropdown-toggle.btn-sample {
    color: #FFF;
    background-color: #ea1c16;
}
.btn-sample.active, .btn-sample:active, .open .dropdown-toggle.btn-sample {
    background-image: none;
}
.btn-sample .badge {
    color: #f00d06;
    background-color: #FFF;
}
.break-el {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
input {
    display: block!important;
    width: 100%;
    min-height: 4.2em;
    border: 0 solid!important;
    max-width: 25em;
    font-size: 1.25em!important;
    text-align: center!important;
    letter-spacing: .04em;
}
input[type=text] {
    color: #000;
    letter-spacing: .02em;
}
input[type=button], input[type=submit] {
    color: #fff;
    font-weight: 800!important;
    min-height: 5.1em;
}
.list-group-item {
    width: 30.5em;
    display: inline-block;
    border-bottom-width: .145em!important;
    border-bottom-color: #929292!important;
    border: 0 solid;
    padding: 1.3em 1em .9em;
}
.problems {
    display: inline-block;
    max-width: 30em;
    min-width: 30em;
    min-height: 6em;
    border-bottom-width: .145em!important;
    border-bottom-color: #929292!important;
    border: 0 solid;
    padding: .5em;
    background-color: #fff;
}
.problems h3 {
    line-height: 1.25em;
}
.problem-items {
    font-size: 1em;
    text-align: center;
}
.problem-items h3 {
    font-size: 1.2em;
}
.problem-items .list-group-item {
    max-width: 30em!important;
}
.main-heading-solution h1 {
    font-size: 2.8em;
    color: #000;
    text-align: center;
    margin: 1.2em 0 1em;
    letter-spacing: .03em;
}
.main-heading-problems h1 {
    font-size: 2.5em;
    color: #000;
    text-align: center;
    margin: 1em 0;
    letter-spacing: .03em;
}
@media (min-width:1000px) {
    .container {
    width: 65%}
.main-heading h1 {
    font-size: 2.8em;
    color: #000;
    text-align: center;
    margin: 2.3em 0 1.5em;
    letter-spacing: .03em;
}
}
@media (min-width:770px) and (max-width:999px) {
    .container {
    width: 70%}
.main-heading h1 {
    font-size: 2.5em;
    color: #000;
    text-align: center;
    margin: 2.3em 0 1.5em;
    letter-spacing: .03em;
}
}
@media (min-width:430px) and (max-width:769px) {
    .container {
    padding: 0;
}
.main-heading, .main-heading-problems, .main-heading-solution {
    background-color: #fff;
}
.main-heading h1, .main-heading-problems h1, .main-heading-solution h1 {
    font-size: 2.1em;
    color: #000;
    text-align: center;
    margin: 0 0 1em!important;
    letter-spacing: .03em;
    padding: .5em;
}
}@media (min-width:0px) and (max-width:429px) {
    .main-heading, .main-heading-problems, .main-heading-solution {
    background-color: #fff;
}
.mobile-hide {
    display: none;
}
.container {
    padding: 0;
}
.main-heading h1, .main-heading-problems h1, .main-heading-solution h1 {
    font-size: 1.8em;
    color: #000;
    text-align: center;
    margin: 0 0 1em!important;
    letter-spacing: .08em;
    padding: .5em;
}
.back-btn {
    margin: 2em 0;
}
.list-group-item {
    max-width: 100%;
    margin-left: 0 auto;
}
.cent {
    width: 90%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.cent-problem-page {
    width: 90%;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.dent, .dent-main {
    padding: 0 1em;
}
.problems {
    width: 90%;
    min-width: 0;
}

}
@media (max-height:330px) {
    .main-heading h1, .main-heading-problems h1, .main-heading-solution h1 {
    margin: .5em 0;
}
}