<template name="sideNav">

<div class="side-menu sidebar-inverse">

    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">Math Collab</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="invisible">
                    <a href="">
                        <span class="icon fa fa-"></span><span class="title"></span>
                    </a>
                </li>
                <li class="{{ activeIfRouteIs 'index' }}">
                    <a href="{{pathFor route='index'}}">
                        <span class="icon fa fa-pencil-square-o"></span><span class="title">Tex Editor</span>
                    </a>
                </li>
                <li class="{{ activeIfRouteIs 'inbox' }}">
                    <a href="{{pathFor route='inbox'}}">
                        <span class="icon fa fa-inbox"></span><span class="title">Inbox</span>
                    </a>
                </li>
                <li class="{{ activeIfRouteIs 'bazinga' }}">
                    <a href="{{pathFor route='bazinga'}}">
                        <span class="icon fa fa-rocket"></span><span class="title">Explore</span>
                    </a>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-form">
                        <span class="icon fa fa-file-text-o"></span><span class="title">Form</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-form" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="form/ui-kits.html">Form UI Kits</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Dropdown-->
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#component-example">
                        <span class="icon fa fa-cubes"></span><span class="title">Components</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="component-example" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="components/pricing-table.html">Pricing Table</a>
                                </li>
                                <li><a href="components/chartjs.html">Chart.JS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Dropdown-->
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-example">
                        <span class="icon fa fa-slack"></span><span class="title">Page Example</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-example" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="pages/login.html">Login</a>
                                </li>
                                <li><a href="pages/index.html">Landing Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Dropdown-->
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-icon">
                        <span class="icon fa fa-archive"></span><span class="title">Icons</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-icon" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="icons/glyphicons.html">Glyphicons</a>
                                </li>
                                <li><a href="icons/font-awesome.html">Font Awesomes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

</div>

</template>
