<head>
  <title>Veggie Meals</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" sizes="16x16 32x32 64x64" href="/favicon.ico?v=2">
  <meta name="description" content="Social Network for Veggie People">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.0.2/css/material-design-iconic-font.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- ICONS FOR MOBILE DEVICES GOES HERE

  <link rel="shortcut icon" type="image/png" href="favicon.png" sizes="16x16 32x32 64x64">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-precomposed.png">

 -->
</head>
