<template name="loggedInUserFeelingsProfile">

  <ul class="section collapsible collapsible-logged-in-user-feelings popout collapsible-accordion" data-collapsible="accordion">

<!-- START -->
  <li class="">
    <div class="collapsible-header">
      <!--
      <div class="right-align">
    		<a href="#!" class="secondary-content"><i style="color: #ee6e73; font-size: 2rem; margin-top: 0.5em;" class="medium zmdi zmdi-favorite-outline right"></i></a>
    	</div>
      -->
    	<div>
        <div class="collapsible-header"><span style="position: relative; top: 1rem;">Title of the post...  (time ago)</span></div>
    	</div>
    </div>
    <div style="display: none;" class="collapsible-body center-align">
	    <h5 class="left-align username-post"><a href="#">USERNAME</a> said:</h5>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	    <div class="row fixed-inner-margins-in-feelings-feed">
            <div class="col s6 offset-s3">
              <!-- MODAL TRIGGER -->
              <a href="#modal-logged-in-user-feelings-1245" class="modal-trigger expanded-buttons waves-effect waves-light btn-large GreenBlueGradientColor"><i style="width: 100%;" class="zmdi zmdi-comment-text"> 1786</i></a>
            </div>
        </div>
    </div>

    <!-- MODAL -->

  <!-- Modal Structure -->
  <div id="modal-logged-in-user-feelings-1245" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>
        <img src="https://pbs.twimg.com/profile_images/559686565811597312/K-icIXGB_400x400.jpeg" alt="" class="circle mealsFeadAvatars">
        <span class="username-card">USERNAME</span>
      </h4>
      <div class="divider"></div>
      <!-- SPINNER -->

     <div id="modal-for-rank-feelings-with-id-1245" class="container">
       <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
     </div>
    </div>


    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>
  </li>
  <!-- END -->

</ul>

</template>
